# Task 1: Load the CSV File from the Internet

In [9]:
import numpy as np
import pandas as pd

URL = "https://raw.githubusercontent.com/Datamanim/pandas/main/AB_NYC_2019.csv"
df = pd.read_csv(URL)
df

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,NaN,NaN,2,9
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,NaN,NaN,2,36
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,NaN,NaN,1,27
48893,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,NaN,NaN,6,2
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,NaN,NaN,1,23

# Task 2: Display the First 5 Rows to Confirm the Data

In [9]:
print(df.head())

     id                                              name  host_id  \
0  2539                Clean & quiet apt home by the park     2787
1  2595                             Skylit Midtown Castle     2845
2  3647               THE VILLAGE OF HARLEM....NEW YORK !     4632
3  3831                   Cozy Entire Floor of Brownstone     4869
4  5022  Entire Apt: Spacious Studio/Loft by central park     7192

     host_name neighbourhood_group neighbourhood  latitude  longitude  \
0         John            Brooklyn    Kensington  40.64749  -73.97237
1     Jennifer           Manhattan       Midtown  40.75362  -73.98377
2    Elisabeth           Manhattan        Harlem  40.80902  -73.94190
3  LisaRoxanne            Brooklyn  Clinton Hill  40.68514  -73.95976
4        Laura           Manhattan   East Harlem  40.79851  -73.94399

         room_type  price  minimum_nights  number_of_reviews last_review  \
0     Private room    149               1                  9  2018-10-19
1  Entire home/apt    225               1                 45  2019-05-21
2     Private room    150               3                  0         NaN
3  Entire home/apt     89               1                270  2019-07-05
4  Entire home/apt     80              10                  9  2018-11-19

   reviews_per_month  calculated_host_listings_count  availability_365
0               0.21                               6               365
1               0.38                               2               355
2                NaN                               1               365
3               4.64                               1               194
4               0.10                               1                 0

# Task 3: Explore the Columns and Dataset Shape

##1. Pritn Columns

In [10]:
print(df.columns)

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

## 2. Print the number of rows and columns using:

In [11]:
print(df.shape)

(48895, 16)

# Task 4: Explore Basic Info About the Dataset

In [12]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB
None

أمثلة لأعمدة تحتوي على قيم ناقصة:
name ✅ ناقص بعض القيم

host_name ✅ ناقص بعض القيم

last_review ✅ ناقص كثير

reviews_per_month ✅ ناقص كثير

# Task 5: Generate Descriptive Statistics of the Dataset

In [13]:
print(df.describe())

                 id       host_id      latitude     longitude         price  \
count  4.889500e+04  4.889500e+04  48895.000000  48895.000000  48895.000000
mean   1.901714e+07  6.762001e+07     40.728949    -73.952170    152.720687
std    1.098311e+07  7.861097e+07      0.054530      0.046157    240.154170
min    2.539000e+03  2.438000e+03     40.499790    -74.244420      0.000000
25%    9.471945e+06  7.822033e+06     40.690100    -73.983070     69.000000
50%    1.967728e+07  3.079382e+07     40.723070    -73.955680    106.000000
75%    2.915218e+07  1.074344e+08     40.763115    -73.936275    175.000000
max    3.648724e+07  2.743213e+08     40.913060    -73.712990  10000.000000

       minimum_nights  number_of_reviews  reviews_per_month  \
count    48895.000000       48895.000000       38843.000000
mean         7.029962          23.274466           1.373221
std         20.510550          44.550582           1.680442
min          1.000000           0.000000           0.010000
25%          1.000000           1.000000           0.190000
50%          3.000000           5.000000           0.720000
75%          5.000000          24.000000           2.020000
max       1250.000000         629.000000          58.500000

       calculated_host_listings_count  availability_365
count                    48895.000000      48895.000000
mean                         7.143982        112.781327
std                         32.952519        131.622289
min                          1.000000          0.000000
25%                          1.000000          0.000000
50%                          1.000000         45.000000
75%                          2.000000        227.000000
max                        327.000000        365.000000

# Task 6: Check and Validate Data Types of Each Column

In [14]:
print(df.dtypes)

id                                  int64
name                               object
host_id                             int64
host_name                          object
neighbourhood_group                object
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                               int64
minimum_nights                      int64
number_of_reviews                   int64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
dtype: object

Convert last_review to Date_time

In [16]:
df["last_review"] = pd.to_datetime(df["last_review"])
print(df.dtypes)

id                                         int64
name                                      object
host_id                                    int64
host_name                                 object
neighbourhood_group                       object
neighbourhood                             object
latitude                                 float64
longitude                                float64
room_type                                 object
price                                      int64
minimum_nights                             int64
number_of_reviews                          int64
last_review                       datetime64[ns]
reviews_per_month                        float64
calculated_host_listings_count             int64
availability_365                           int64
dtype: object

# Task 7: Check for Missing Values in Each Column

In [19]:
print(df.isnull().sum())

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

# Task 8: Find the Top 3 Most Common Neighbourhood Groups

In [21]:
Most_Common = df["neighbourhood_group"].value_counts().head(3)
print(Most_Common)

neighbourhood_group
Manhattan    21661
Brooklyn     20104
Queens        5666
Name: count, dtype: int64

# Task 9: Calculate the Average Price per Neighbourhood Group

In [50]:
task9 =df.groupby('neighbourhood_group')["price"].mean()
print(task9)

neighbourhood_group
Bronx             87.496792
Brooklyn         124.383207
Manhattan        196.875814
Queens            99.517649
Staten Island    114.812332
Name: price, dtype: float64

# Task 10: Find the Most Common Room Type

In [51]:
task10 = df["room_type"].value_counts().head(1)
print(task10)

room_type
Entire home/apt    25409
Name: count, dtype: int64

# Task 11: Count Listings with Price Less Than $100

In [32]:
cheap_listings = df[df["price"] < 100]

print(len(cheap_listings))

21877

# Task 12: Find the Most Expensive Listing and Its Location

In [39]:
MAX = df["price"].max()
filter_expen = df[df["price"] == MAX]
print(filter_expen[['name', 'price', 'neighbourhood_group', 'neighbourhood', 'room_type']])

                                                  name  price  \
9151               Furnished room in Astoria apartment  10000
17692  Luxury 1 bedroom apt. -stunning Manhattan views  10000
29238                              1-BR Lincoln Center  10000

      neighbourhood_group    neighbourhood        room_type
9151               Queens          Astoria     Private room
17692            Brooklyn       Greenpoint  Entire home/apt
29238           Manhattan  Upper West Side  Entire home/apt

# Task 13: Count the Number of Listings in Each Neighbourhood Group

In [43]:
print(df.groupby("neighbourhood_group").size())

neighbourhood_group
Bronx             1091
Brooklyn         20104
Manhattan        21661
Queens            5666
Staten Island      373
dtype: int64

# Task 14: Calculate the Average Number of Reviews per Neighbourhood Group

In [53]:
task14 = df.groupby("neighbourhood_group")["number_of_reviews"].mean()
print(task14)

neighbourhood_group
Bronx            26.004583
Brooklyn         24.202845
Manhattan        20.985596
Queens           27.700318
Staten Island    30.941019
Name: number_of_reviews, dtype: float64

# Task 15: Calculate the Average Price per Room Type

In [54]:
task15 = df.groupby("room_type")['price'].mean()
print(task15)

room_type
Entire home/apt    211.794246
Private room        89.780973
Shared room         70.127586
Name: price, dtype: float64

# Task 16: Count Listings Available at Least One Day a Year

In [47]:
Available_at = df[df["availability_365"] > 0]
print(len(Available_at))

31362

# Task 17: Calculate the Average Availability per Room Type

In [55]:
task17 = df.groupby("room_type")["availability_365"].mean()
print(task17)

room_type
Entire home/apt    111.920304
Private room       111.203933
Shared room        162.000862
Name: availability_365, dtype: float64

# Task 18: Calculate the Average Price per Neighbourhood Group and Room Type

In [56]:
task18 = df.groupby(["neighbourhood_group", "room_type"])["price"].mean()
print(task18)

neighbourhood_group  room_type
Bronx                Entire home/apt    127.506596
                     Private room        66.788344
                     Shared room         59.800000
Brooklyn             Entire home/apt    178.327545
                     Private room        76.500099
                     Shared room         50.527845
Manhattan            Entire home/apt    249.239109
                     Private room       116.776622
                     Shared room         88.977083
Queens               Entire home/apt    147.050573
                     Private room        71.762456
                     Shared room         69.020202
Staten Island        Entire home/apt    173.846591
                     Private room        62.292553
                     Shared room         57.444444
Name: price, dtype: float64

# Task 19: Count Listings with Availability > 0 per Neighbourhood Group

In [59]:
available_df = df[df["availability_365"] > 0]
task19 = available_df.groupby('neighbourhood_group').size()
print(task19)

neighbourhood_group
Bronx              914
Brooklyn         12260
Manhattan        13559
Queens            4298
Staten Island      331
dtype: int64

# Task 20: Find the Host with the Most Listings

In [61]:
host_counts = df.groupby(['host_id', 'host_name']).size().sort_values(ascending=False)
print(host_counts.head(1))

host_id    host_name
219517861  Sonder (NYC)    327
Name: count, dtype: int64
host_id    host_name
219517861  Sonder (NYC)    327
dtype: int64

معنى ascending=False
ascending معناها: تصاعدي (من الصغير للكبير)

False يعني: مش تصاعدي ➜ يعني ترتيب تنازلي (من الكبير للصغير)

# Task 21: Calculate the Standard Deviation of Prices Using NumPy

In [66]:
prices = df["price"].values
std = np.std(prices)
print(std)

240.15171391941718

# Task 22: Detect Outliers in Price Using NumPy Standard Deviation Rule

In [73]:
prices = df['price'].values

mean = np.mean(prices)
std = np.std(prices)

outliers = df[np.abs(prices - mean) > 3 * std]

print(outliers.shape[0])
print(outliers.head())

388
          id                                              name  host_id  \
496   174966             Luxury 2Bed/2.5Bath Central Park View   836168
762   273190         6 Bedroom Landmark West Village Townhouse   605463
946   363673                  Beautiful 3 bedroom in Manhattan   256239
1105  468613  $ (Phone number hidden by Airbnb) weeks - room f  2325861
1414  634353               Luxury 1Bed with Central Park Views   836168

         host_name neighbourhood_group    neighbourhood  latitude  longitude  \
496          Henry           Manhattan  Upper West Side  40.77350  -73.98697
762   West Village           Manhattan     West Village  40.73301  -74.00268
946         Tracey           Manhattan  Upper West Side  40.80142  -73.96931
1105       Cynthia           Manhattan  Lower East Side  40.72152  -73.99279
1414         Henry           Manhattan  Upper West Side  40.77428  -73.98594

            room_type  price  minimum_nights  number_of_reviews last_review  \
496   Entire home/apt   2000              30                 30  2018-05-05
762   Entire home/apt   1300               5                 28  2018-09-25
946      Private room   3000               7                  0         NaN
1105     Private room   1300               1                  0         NaN
1414  Entire home/apt   1000              30                 44  2015-09-28

      reviews_per_month  calculated_host_listings_count  availability_365
496                0.33                              11                 0
762                0.31                               4               297
946                 NaN                               1               365
1105                NaN                               1                 0
1414               0.53                              11               364

# Task 23: Filter Listings in Manhattan with Price Above the Mean

In [76]:
prices = df["price"].values
mean_price = np.mean(prices)

filtered = df[
              (mean_price > prices) &
              (df['neighbourhood_group'] == "Manhattan")
]

print(f"the list in Manhatten: {filtered.shape[0]}")
print(filtered.head())

the list in Manhatten: 11843
     id                                              name  host_id  host_name  \
2  3647               THE VILLAGE OF HARLEM....NEW YORK !     4632  Elisabeth
4  5022  Entire Apt: Spacious Studio/Loft by central park     7192      Laura
7  5178                  Large Furnished Room Near B'way      8967   Shunichi
8  5203                Cozy Clean Guest Room - Family Apt     7490  MaryEllen
9  5238                Cute & Cozy Lower East Side 1 bdrm     7549        Ben

  neighbourhood_group    neighbourhood  latitude  longitude        room_type  \
2           Manhattan           Harlem  40.80902  -73.94190     Private room
4           Manhattan      East Harlem  40.79851  -73.94399  Entire home/apt
7           Manhattan   Hell's Kitchen  40.76489  -73.98493     Private room
8           Manhattan  Upper West Side  40.80178  -73.96723     Private room
9           Manhattan        Chinatown  40.71344  -73.99037  Entire home/apt

   price  minimum_nights  number_of_reviews last_review  reviews_per_month  \
2    150               3                  0         NaN                NaN
4     80              10                  9  2018-11-19               0.10
7     79               2                430  2019-06-24               3.47
8     79               2                118  2017-07-21               0.99
9    150               1                160  2019-06-09               1.33

   calculated_host_listings_count  availability_365
2                               1               365
4                               1                 0
7                               1               220
8                               1                 0
9                               4               188

# Task 24: Compute Mean and Standard Deviation of Availability per Room Type

In [86]:
grouped = df.groupby("room_type")["availability_365"]

for room, group in grouped:
  mean = np.mean(group.values)
  std = np.std(group.values)
  print(f"{room} -> mean: {mean:.2f}, std: {std:.2f}")

Entire home/apt -> mean: 111.92, std: 129.80
Private room -> mean: 111.20, std: 132.09
Shared room -> mean: 162.00, std: 151.28

# Task 25: Find the Most Expensive Neighborhoods in Manhattan Using NumPy

In [6]:
Manhattan = df[df["neighbourhood_group"] == "Manhattan"]
grouped = df.groupby('neighbourhood')['price']

for name, prices in grouped:
  mean = np.mean(prices.values)
  print(f"{name} -> mean price: {mean:.2f}")

Allerton -> mean price: 87.60
Arden Heights -> mean price: 67.25
Arrochar -> mean price: 115.00
Arverne -> mean price: 171.78
Astoria -> mean price: 117.19
Bath Beach -> mean price: 81.76
Battery Park City -> mean price: 367.56
Bay Ridge -> mean price: 144.43
Bay Terrace -> mean price: 142.00
Bay Terrace, Staten Island -> mean price: 102.50
Baychester -> mean price: 75.43
Bayside -> mean price: 157.95
Bayswater -> mean price: 87.47
Bedford-Stuyvesant -> mean price: 107.68
Belle Harbor -> mean price: 171.50
Bellerose -> mean price: 99.36
Belmont -> mean price: 77.12
Bensonhurst -> mean price: 75.79
Bergen Beach -> mean price: 106.70
Boerum Hill -> mean price: 176.14
Borough Park -> mean price: 63.07
Breezy Point -> mean price: 213.33
Briarwood -> mean price: 105.88
Brighton Beach -> mean price: 131.93
Bronxdale -> mean price: 57.11
Brooklyn Heights -> mean price: 209.06
Brownsville -> mean price: 76.46
Bull's Head -> mean price: 47.33
Bushwick -> mean price: 84.80
Cambria Heights -> mean price: 81.73
Canarsie -> mean price: 104.37
Carroll Gardens -> mean price: 175.91
Castle Hill -> mean price: 63.00
Castleton Corners -> mean price: 139.75
Chelsea -> mean price: 249.74
Chinatown -> mean price: 161.50
City Island -> mean price: 173.00
Civic Center -> mean price: 191.94
Claremont Village -> mean price: 87.46
Clason Point -> mean price: 112.76
Clifton -> mean price: 84.93
Clinton Hill -> mean price: 181.89
Co-op City -> mean price: 77.50
Cobble Hill -> mean price: 211.93
College Point -> mean price: 88.00
Columbia St -> mean price: 162.95
Concord -> mean price: 58.19
Concourse -> mean price: 86.18
Concourse Village -> mean price: 73.78
Coney Island -> mean price: 123.71
Corona -> mean price: 59.17
Crown Heights -> mean price: 112.48
Cypress Hills -> mean price: 128.90
DUMBO -> mean price: 196.31
Ditmars Steinway -> mean price: 95.03
Dongan Hills -> mean price: 79.43
Douglaston -> mean price: 82.75
Downtown Brooklyn -> mean price: 150.35
Dyker Heights -> mean price: 93.42
East Elmhurst -> mean price: 81.18
East Flatbush -> mean price: 104.22
East Harlem -> mean price: 133.20
East Morrisania -> mean price: 85.00
East New York -> mean price: 85.43
East Village -> mean price: 186.08
Eastchester -> mean price: 141.69
Edenwald -> mean price: 82.00
Edgemere -> mean price: 94.73
Elmhurst -> mean price: 80.46
Eltingville -> mean price: 141.67
Emerson Hill -> mean price: 68.20
Far Rockaway -> mean price: 165.86
Fieldston -> mean price: 75.08
Financial District -> mean price: 225.49
Flatbush -> mean price: 92.21
Flatiron District -> mean price: 341.93
Flatlands -> mean price: 126.43
Flushing -> mean price: 93.51
Fordham -> mean price: 69.44
Forest Hills -> mean price: 121.62
Fort Greene -> mean price: 151.37
Fort Hamilton -> mean price: 93.82
Fort Wadsworth -> mean price: 800.00
Fresh Meadows -> mean price: 99.50
Glendale -> mean price: 90.80
Gowanus -> mean price: 158.80
Gramercy -> mean price: 222.75
Graniteville -> mean price: 68.67
Grant City -> mean price: 57.67
Gravesend -> mean price: 79.01
Great Kills -> mean price: 100.60
Greenpoint -> mean price: 144.82
Greenwich Village -> mean price: 263.41
Grymes Hill -> mean price: 159.14
Harlem -> mean price: 118.97
Hell's Kitchen -> mean price: 204.79
Highbridge -> mean price: 71.11
Hollis -> mean price: 88.64
Holliswood -> mean price: 135.75
Howard Beach -> mean price: 115.40
Howland Hook -> mean price: 100.00
Huguenot -> mean price: 118.33
Hunts Point -> mean price: 50.50
Inwood -> mean price: 88.90
Jackson Heights -> mean price: 80.90
Jamaica -> mean price: 95.77
Jamaica Estates -> mean price: 182.95
Jamaica Hills -> mean price: 132.12
Kensington -> mean price: 92.89
Kew Gardens -> mean price: 88.38
Kew Gardens Hills -> mean price: 112.31
Kingsbridge -> mean price: 77.93
Kips Bay -> mean price: 202.41
Laurelton -> mean price: 95.33
Lighthouse Hill -> mean price: 157.50
Little Italy -> mean price: 222.07
Little Neck -> mean price: 75.20
Long Island City -> mean price: 127.47
Longwood -> mean price: 91.92
Lower East Side -> mean price: 186.31
Manhattan Beach -> mean price: 103.50
Marble Hill -> mean price: 89.17
Mariners Harbor -> mean price: 94.62
Maspeth -> mean price: 83.65
Melrose -> mean price: 83.30
Middle Village -> mean price: 109.58
Midland Beach -> mean price: 91.83
Midtown -> mean price: 282.72
Midwood -> mean price: 80.34
Mill Basin -> mean price: 179.75
Morningside Heights -> mean price: 114.78
Morris Heights -> mean price: 76.94
Morris Park -> mean price: 69.33
Morrisania -> mean price: 83.44
Mott Haven -> mean price: 88.92
Mount Eden -> mean price: 58.50
Mount Hope -> mean price: 77.50
Murray Hill -> mean price: 220.96
Navy Yard -> mean price: 151.64
Neponsit -> mean price: 274.67
New Brighton -> mean price: 101.80
New Dorp -> mean price: 57.00
New Dorp Beach -> mean price: 57.40
New Springville -> mean price: 76.00
NoHo -> mean price: 295.72
Nolita -> mean price: 230.14
North Riverdale -> mean price: 79.90
Norwood -> mean price: 75.55
Oakwood -> mean price: 81.20
Olinville -> mean price: 64.00
Ozone Park -> mean price: 85.27
Park Slope -> mean price: 176.31
Parkchester -> mean price: 69.08
Pelham Bay -> mean price: 105.00
Pelham Gardens -> mean price: 93.61
Port Morris -> mean price: 79.89
Port Richmond -> mean price: 90.11
Prince's Bay -> mean price: 409.50
Prospect Heights -> mean price: 173.37
Prospect-Lefferts Gardens -> mean price: 110.40
Queens Village -> mean price: 83.93
Randall Manor -> mean price: 336.00
Red Hook -> mean price: 143.46
Rego Park -> mean price: 83.88
Richmond Hill -> mean price: 87.12
Richmondtown -> mean price: 78.00
Ridgewood -> mean price: 77.18
Riverdale -> mean price: 442.09
Rockaway Beach -> mean price: 132.18
Roosevelt Island -> mean price: 113.26
Rosebank -> mean price: 111.86
Rosedale -> mean price: 76.69
Rossville -> mean price: 75.00
Schuylerville -> mean price: 69.23
Sea Gate -> mean price: 487.86
Sheepshead Bay -> mean price: 105.77
Shore Acres -> mean price: 152.71
Silver Lake -> mean price: 70.00
SoHo -> mean price: 287.10
Soundview -> mean price: 53.47
South Beach -> mean price: 89.25
South Ozone Park -> mean price: 82.40
South Slope -> mean price: 146.73
Springfield Gardens -> mean price: 94.24
Spuyten Duyvil -> mean price: 154.75
St. Albans -> mean price: 100.83
St. George -> mean price: 118.15
Stapleton -> mean price: 98.96
Stuyvesant Town -> mean price: 169.11
Sunnyside -> mean price: 84.87
Sunset Park -> mean price: 113.04
Theater District -> mean price: 248.01
Throgs Neck -> mean price: 91.04
Todt Hill -> mean price: 169.00
Tompkinsville -> mean price: 76.19
Tottenville -> mean price: 144.86
Tremont -> mean price: 51.55
Tribeca -> mean price: 490.64
Two Bridges -> mean price: 127.07
Unionport -> mean price: 137.14
University Heights -> mean price: 69.57
Upper East Side -> mean price: 188.95
Upper West Side -> mean price: 210.92
Van Nest -> mean price: 113.82
Vinegar Hill -> mean price: 187.18
Wakefield -> mean price: 85.58
Washington Heights -> mean price: 89.61
West Brighton -> mean price: 80.56
West Farms -> mean price: 122.00
West Village -> mean price: 267.68
Westchester Square -> mean price: 122.20
Westerleigh -> mean price: 71.50
Whitestone -> mean price: 107.55
Williamsbridge -> mean price: 96.75
Williamsburg -> mean price: 143.80
Willowbrook -> mean price: 249.00
Windsor Terrace -> mean price: 138.99
Woodhaven -> mean price: 67.17
Woodlawn -> mean price: 60.09
Woodrow -> mean price: 700.00
Woodside -> mean price: 85.10
neighbourhood
Fort Wadsworth       800.000000
Woodrow              700.000000
Tribeca              490.638418
Sea Gate             487.857143
Riverdale            442.090909
Prince's Bay         409.500000
Battery Park City    367.557143
Flatiron District    341.925000
Randall Manor        336.000000
NoHo                 295.717949
Name: price, dtype: float64

In [7]:
mean_prices = grouped.apply(lambda x: np.mean(x.values))
sorted_prices = mean_prices.sort_values(ascending=False)
print(sorted_prices.head(10))

neighbourhood
Fort Wadsworth       800.000000
Woodrow              700.000000
Tribeca              490.638418
Sea Gate             487.857143
Riverdale            442.090909
Prince's Bay         409.500000
Battery Park City    367.557143
Flatiron District    341.925000
Randall Manor        336.000000
NoHo                 295.717949
Name: price, dtype: float64

# Task 26: Compare Average Price per Room Type in Manhattan Using NumPy

In [15]:
Manhattan = df[df["neighbourhood_group"] == "Manhattan"]

grouped = Manhattan.groupby("room_type")["price"]

for room,prices in grouped:
  mean = np.mean(prices.values)
  print(f"{room} -> mean: {mean:.2f}")

Entire home/apt -> mean: 249.24
Private room -> mean: 116.78
Shared room -> mean: 88.98

# Task 27: Analyze the Relationship Between Price and Availability Using NumPy

In [16]:
prices = df["price"].values
availability = df['availability_365'].values

print("Price → Mean:", np.mean(prices), "Std:", np.std(prices))
print("Availability → Mean:", np.mean(availability), "Std:", np.std(availability))

correlation = np.corrcoef(prices, availability)[0, 1]
print("Correlation between price and availability:", correlation)

# Task 28: Compare Average Price for Fully Available vs. Low Availability Listings

In [17]:
full_available = df[df['availability_365'] == 365]
low_available = df[df['availability_365'] < 30]

mean_full = np.mean(full_available['price'].values)
mean_low = np.mean(low_available['price'].values)

print(mean_full)
print(mean_low)

250.76988416988416
136.6489272655183

# Task 29: Analyze Average Price by Room Type and Neighbourhood Group Using NumPy

In [22]:
grouped = df.groupby(['neighbourhood_group', 'room_type'])["price"]

for (area, room), prices in grouped:
  mean = np.mean(prices.values)
  print(f"{area} | {room} → Mean Price: {mean:.2f}")

Bronx | Entire home/apt → Mean Price: 127.51
Bronx | Private room → Mean Price: 66.79
Bronx | Shared room → Mean Price: 59.80
Brooklyn | Entire home/apt → Mean Price: 178.33
Brooklyn | Private room → Mean Price: 76.50
Brooklyn | Shared room → Mean Price: 50.53
Manhattan | Entire home/apt → Mean Price: 249.24
Manhattan | Private room → Mean Price: 116.78
Manhattan | Shared room → Mean Price: 88.98
Queens | Entire home/apt → Mean Price: 147.05
Queens | Private room → Mean Price: 71.76
Queens | Shared room → Mean Price: 69.02
Staten Island | Entire home/apt → Mean Price: 173.85
Staten Island | Private room → Mean Price: 62.29
Staten Island | Shared room → Mean Price: 57.44

# Task 30: Summarize Key Insights and Export Final Data as CSV

In [ ]:
print("Top Insights:")
print("- Entire home/apt in Manhattan has the highest average price.")
print("- Listings with full-year availability tend to be cheaper on average.")
print("- Private rooms in Bronx are the cheapest overall.")
print("- No strong correlation found between price and availability.")
# أضف أي نقاط حسيتها مهمة من تحليلك